@import "./_variables";
@import "./_generic";
@import "./_layout";

@font-face {
  font-family: Roboto;
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

.container {
  background: url("/assets/background.png");
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.body {
  a {
    color: $linkColor;
    &:visited {
      color: $linkColor;
    }
    &:hover,
    &.focus {
      color: $linkHoverColor;
    }
  }
  @mixin icon-button {
    background: none;
    border: none;
    color: $linkColor;
    &:hover {
      color: $linkHoverColor;
    }
  }
  .icon-button {
    @include icon-button();
  }
}

.body-content {
  margin: 0 auto;
  max-width: 60vw;
  left: -10px;
  margin-top: 80px;
  margin-bottom: 60px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

h1,
h2 {
  color: $mainColorDull;
}

details summary {
  font-size: 0.9rem;
  padding: 1rem;
  color: $mainColorDull;
  &:hover {
    cursor: pointer;
    text-shadow: 0 0 10px hsla($primary-hue, 100%, 50%, 0.25);
  }
}

details[open] summary ~ * {
  animation: sweep 0.3s ease-in-out;
}

@media screen and (max-width: 1382px) {
  p {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  .body-content {
    max-width: 90vw;
  }
  details summary {
    font-size: 0.9rem;
  }
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #000;
  color: white;
  font-family: Roboto;
  margin: 0;
}

button {
  font-family: Roboto;
}

table {
  border-spacing: 0;
}

select,
textarea {
  width: 100%;
  font-family: Roboto;
  font-size: 14px;
  resize: none;
}

ul {
  list-style: square;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
